.tableReq {
    padding: 1vw;
}
.myTable {
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    .myTr {
        border: 1px solid #ddd;
        padding: .35em;
    }
    .myTh {
        padding: .625em;
        text-align: center;
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    .myTd {
        padding: .625em;
        text-align: center;
    }
}
.tdRes {
    width: 50%;
}
@media screen and (max-width: 600px) {
    .myTable {
        border: 0;
        .myThead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .myTr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        .myTd {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            &::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .myTd.myTh {
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .tdRes {
        width: 100%;
    }
}