body{
    font-size: 16px;
}


/*[class*="col"] {
    border: 1px solid black;
}
*/
/*.modal-header{
    border: 1px solid black;
}
*/

.buttonReq{
    background: #2088cd;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size:1em;
    padding: .75em;
    text-transform: uppercase;
    width: 21.62vw;
}


.iconComment {
    width: 4rem;
    height: 4rem;
    border: 1px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
}

[id*="editable"] {
    display: none;
}

/* Z-index of #mask must lower than #boxes .window */

.commentP{

    font-size: 15px;
    /*width: 1000px;*/
    white-space: initial;
    overflow: hidden;

}

.comment{

}

.dateCom{
    float: right;
    font-size: 12px;

}

.spanName{

    font-weight: bold;
}

.badgeCom{

    background-color: rgb(145, 145, 145) !important;
    color: white;
    font-weight: normal;
    font-size: 13px;
    float: right;
}


.badgeDel{
    
    font-weight: normal;
    font-size: 13px;
    float: right;
}


.alertDog{

    width: 80%;
}


.myMedia{

   /* border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    background-color: rgb(230, 230, 230);*/
}
/*
#mask {
    position: absolute;
    z-index: 9000;
    background-color: #000;
    display: none;
}
#boxes .window {
    position: fixed;
    width: 440px;
    height: 200px;
    display: none;
    z-index: 9999;
    padding: 20px;
}
/* Customize your modal window here, you can add background image too */
/*#boxes #dialog {
    width: 375px;
    height: 203px;
}*/


.save, .cancel, .delete {
    background: none;
    color: green;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
div .deleteModal {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    display: none;
    z-index: 10;
}





/* PROFILE USER */
a.active {
    background-color: rgba(5, 50, 103) !important;
}

.imgUser{
    width: 18rem;
}

.cardUser{
     width: 22rem;
}

.myBadge{
    background-color: rgb(5, 50, 103) !important;
    color: white;
    width: 100%;
    font-size: 0.8rem;
}


.edit{
    font-size:24px;
    float: right;
    
}


/* INFO USER REQUEST */

.infoUserReq{
    color: red;
}

.cardUserReq{
     width: 100%;
}

.mediaUser{
    background-color: white; 
    border: 1px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
}

.photoDogUser{
    width: 15%;
}

.btnA{
    float: right;
    margin-bottom: 1vw;
}


/* DOG VIEW */


.dogView{

    width: 21.62vw;
    height: 19.2vw;


}





@media screen and (max-width: 600px) {
  
    .dogView{

        width: 100%;
        height: 100%;
    }

    .iconComment {
       /* width: 15vw;
        height: 15vw;*/
    } 

    .alertDog{

        margin: 0 auto;
    }

    .buttonReq{
        width: 100%;
    }




}
